<<<<<<< HEAD
<html>
  <body>
    <ul>
      {{#each users}}
      <li>{{email}}</li>
      {{/each}}
    </ul>  
  </body>
</html>
=======
<ul>
  {{#each products}}
  <li>#{{id}} - {{lava_color}} - {{base_color}} - {{price}}</li>
  {{/each}}
</ul>
>>>>>>> main
