<div class="columns is-gapless is-multiline is-mobile">
  <div class="column is-half">
    <article class="message">
      <div class="message-header">
        <p>Customize</p>
      </div>
      <div class="message-body">
        <h3>How would you like to select your product?</h3>
        <div class="columns">
          <div class="column">
            <button class="button" id="changeLava">Change Lava</button>
            <button class="button" id="changeBase">Change Base</button>
          </div>
          <div class="column">
            
          </div>
        </div>
        <form id="myForm" action="/checkout" method="POST">
          <label for="lava_color">Lava colour</label><br>

          <select name="lava_color" id="lava_color" onchange="updateLavaImage()">
            {{#each body}}
              <option value="{{liquid_color}}">{{liquid_color}} - {{price}}</option>
            {{/each}}
          </select>

          <br>
          <label for="base_color">Base colour</label><br>

          <select name="base_color" id="base_color" onchange="updateBaseImage()">
            {{#each base}}
              <option value="{{base_color}}">{{base_color}} - {{price}}</option>
            {{/each}}
          </select>

          <br>
          <label for="price">Price</label><br>
          <span id="priceLabel">{{totalPrice}}</span>
          <br>

          
          <button><a href="/checkout">CHECKOUT</a></button> 
        </form>
      </div>     
    </article>
  </div>   
  
  <div class="column is-half">
     <div id="imageContainer" style="position: relative;">
      <img id="lavaImage" src="{{selectedLavaImage}}" alt="Lava Image" style="position: absolute; top: 0; left: 0;">
      <img id="baseImage" src="{{selectedBaseImage}}" alt="Base Image" style="position: relative;">
    </div>
    </div>
  </div>
</div>
<script src="/public/changeImage.js"></script>
